article.item(role='article')
  a(href='#')
    h2 {{asteroid.name}}
    img(src='{{asteroid.imagePath}}', alt='{{asteroid.imageDesc}}')
  .item-desc
    p
      | Semimajor Axis :
      span {{asteroid.semimajorAxis}}
      br
      | Eccentricity :
      span {{asteroid.eccentricity}}
      br
      | Inclination :
      span {{asteroid.inclination}}
      br
      | Perihelion Arg. :
      span {{asteroid.perihelionArg}}
      br
      | Asc. Node :
      span {{asteroid.ascendingNode}}
      br
      | Mean Anom. :
      span {{asteroid.meanAnomaly}}
  footer.item-footer
    a.comment(href='#') Comment
    a.bookmark(href='#') Bookmark
