article.item(role='article')
  a(href='/asteroid')
    h2 {{asteroid.full_name}}
    img(src='img/img-apophis.jpg', alt='{{asteroid.imageDesc}}')
  .item-desc
    p
      | Semimajor Axis :
      span {{asteroid.a | number : 3}}
      br
      | Eccentricity :
      span {{asteroid.e | number : 3}}
      br
      | Inclination :
      span {{asteroid.i | number : 3}}
      br
      | Perihelion Arg. :
      span {{asteroid.w | number : 3}}
      br
      | Asc. Node :
      span {{asteroid.om | number : 3}}
      br
      | Mean Anom. :
      span {{asteroid.ma | number : 3}}
  footer.item-footer
    a.comment(href='#') Comment
    a.bookmark(href='#') Visualise
