article.item(role='article')
  a(href='#')
    h2 {{asteroid.full_name}}
    img(src='img/img-apophis.jpg', alt='{{asteroid.imageDesc}}')
  .item-desc
    p
      | Semimajor Axis :
      span {{asteroid.a}}
      br
      | Eccentricity :
      span {{asteroid.e}}
      br
      | Inclination :
      span {{asteroid.i}}
      br
      | Perihelion Arg. :
      span {{asteroid.w}}
      br
      | Asc. Node :
      span {{asteroid.om}}
      br
      | Mean Anom. :
      span {{asteroid.ma}}
  footer.item-footer
    a.comment(href='#') Comment
    a.bookmark(href='#') Bookmark
