extends layout

block content
  include searchBar
  .results-bg(ng-controller='ExploreCtrl')
    section#results.wrapper.padding-30
      #search-results
        asteroid(ng-repeat='asteroid in asteroids')
      .button-challenge
        a(href='#') More results
