<footer id="footer" class="padding-30">
                <div class="wrapper">
                    <div class="float-left">
                        <h4>Pages</h4>
                        <ul class="pages">
                            <li><a href="{{pathFor 'homepage'}}">Home</a></li>
                            <li><a href="{{pathFor 'explore'}}">Explore</a></li>
                            <li><a href="{{pathFor 'login'}}">Login</a></li>
                            <li><a href="{{pathFor 'register'}}">Register</a></li>
                        </ul>
                        <ul class="pages">
                            <li><a href="#">Credits</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
                    </div>
                    <div class="float-right">
                        <h4>
                            Be in touch
                        </h4>
                        <p class="mail">
                            Drop us a line on social networks or use our e-mail address.
                        </p>
                        <ul class="inline-menu social-links">
                            <li><a href="#" class="facebook">Facebook</a></li>
                            <li><a href="#" class="twitter">Twitter</a></li>
                            <li><a href="#" class="google">Google Plus</a></li>
                        </ul>
                        <p class="mail">
                            
                            <a href="mailto:contact@constelat.io">contact@constelat.io</a>
                        </p>
                    </div> 
                    <div class="license">
                        <h4>
                            Disclaimer
                        </h4>
                        <img src="img/logo-creative-commons.png" class="float-left" width="160" height="56" alt="Creative Commons Logo">
                        <p>
                            This website and all of its contents are available under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution Share-Alike License</a>. You are free to copy and redistribute the material in any format, and free to transform and build upon the material for any purpose.
                        </p>
                        <p>
                            Some images on this website are coming from external sources. Even if we have done our best to use copyright-free images, and give credit to their authors under the <a href="credits.html">Credits page</a>, it is still possible that a few were forgotten in the process. If you are the owner of such content and if you think it has been unappropriately used, please contact us and we will give you credit or remove the content after review as soon as possible.

                        </p>
                    </div>               
                    <p class="copyright">
                        Developed with love by <a href="http://stylizit.com">Stylizit</a><br>
                        <a href="http://stylizit.com"><img src="img/logo_stylizit_solo_6.png" width="32" height="32" alt="Logo of Stylizit, a London-based web development studio"></a>
                    </p>
                </div>
            </footer>