.wrapper
  .float-left
    h4 Pages
    ul.pages
      li
        a(href='/') Home
      li
        a(href='explore') Explore
      li
        a(href='login') Login
      li
        a(href='register') Register
    ul.pages
      li
        a(href='credits.html') Credits
      li
        a(href='#') Terms
      li
        a(href='#') Copyright
      li
        a(href='#') Privacy
  .float-right
    h4
      | Be in touch
    p.mail
      | Drop us a line on social networks or use our e-mail address.
    ul.inline-menu.social-links
      li
        a.facebook(href='https://www.facebook.com/pages/Constelatio/737595616273296') Facebook
      li
        a.twitter(href='http://twitter.com/Constelatio') Twitter
      // li
        a.google(href='#') Google Plus
    p.mail
      a(href='mailto:contact@constelat.io') contact@constelat.io
  .license
    h4
      | Disclaimer
    img.float-left(src='img/icon-mit.png', width='70', height='70', alt='MIT License Logo')
    p
      | This website and all of its contents are available under the 
      a(href='http://opensource.org/licenses/MIT') MIT License (MIT)
      | . You are free to copy and redistribute the material in any format, and free to transform and build upon the material for any purpose.
    p
      | Some images on this website are coming from external sources. Even if we have done our best to use copyright-free images, and give credit to their authors under the 
      a(href='credits.html') Credits page
      | , it is still possible that a few were forgotten in the process. If you are the owner of such content and if you think it has been unappropriately used, please contact us and we will give you credit or remove the content after review as soon as possible.
  p.copyright
    | Developed with love by 
    a(href='http://stylizit.com') Stylizit, 
    a(href='http://github.com/leonpegg') Leon Pegg, 
    a(href='#') Elias Khoury, 
    a(href='#') Derek Jones, 
    a(href='#') Freddie Barr-Smith, 
    a(href='#') Florian Rathgeber 
    br
    a(href='http://stylizit.com')
      img(src='img/logo_stylizit_solo_6.png', width='32', height='32', alt='Logo of Stylizit, a London-based web development studio')
