<!DOCTYPE html>
<html>

<head>
    <base href="/">
    <meta charset="utf-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Constelatio - Open source asteroid imagery sharing platform</title>
    <meta name="description" content="Constelatio is the first open-source platform for sharing crowd-sourced asteroid imagery, including observations that have already have been logged, as well as newly observed Near Earth Objects.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="container">
        <header id="header">
            <%= include navbar.ejs %>
            <%= include homepage/intro.ejs %>
        </header>
        <div id="main" role="main">
            <section id="background" class="wrapper padding-30">
                <article role="article">
                    <h2>About asteroid hunting</h2>
                    <p>
                        In June 2013, NASA announced a
                        <a href="http://www.nasa.gov/mission_pages/asteroids/initiative/">grand challenge</a>to "find all asteroid threats to human populations and know what to do about them". This Grand Challenge expands the role of individual inventors, tinkerers, citizen scientists, developers and technologists. Asteroids pose the threat of impact, while presenting an opportunity to expand our knowledge of this natural phenomenon. The Grand Challenge seeks to shine a spotlight on asteroids, and garner global participation in providing impact prevention solutions.
                    </p>
                    <p>
                        Many of the millions of yet undiscovered Near Earth Objects require space-based hardware or large professional scopes to locate. No mechanism currently exists for amateurs to easily and effectively share imagery in a way that contributes to the collective picture of the threat of asteroids from space.
                    </p>
                    <p class="more">
                        <a href="http://www.nasa.gov/mission_pages/asteroids/initiative/">See more about NASA program</a>
                    </p>
                </article>
            </section>
            <section id="main-features" class="wrapper padding-30">
                <h2>Share your imagery and contribute to research</h2>
                <article role="article">
                    <div class="article-image">
                        <img src="img/img-shuttle.png" alt="Image of NASA's Discovery space shuttle">
                    </div>
                    <h3>Space exploration</h3>
                    <p>
                        Space exploration is the most exciting feat mankind has ever achieved. Be part of it by helping us cataloging Near Earth Objects!
                    </p>
                </article>
                <article role="article">
                    <div class="article-image">
                        <img src="img/img-observatory.png" alt="Image of the Milky Way with ESO Paranal Observatory">
                    </div>
                    <h3>Astronomers recognition</h3>
                    <p>
                        Always dreamed about working inside an observatory? Gain exposure by displaying your observations and chatting with the astronomical community.
                    </p>
                </article>
                <article role="article">
                    <div class="article-image">
                        <img src="img/img-asteroid.png" alt="Artist view of an asteroid">
                    </div>
                    <h3>Armaggeddon hero</h3>
                    <p>
                        Who knows? You might be the first to discover the first Scale 10 NEO. You might also be the first to land on the asteroid with nuclear weaponry in the purpose of saving Earth but that's another story.
                    </p>
                </article>
                <div class="button-challenge">
                    <a href="/explore">Browse Gallery</a>
                </div>
            </section>
            <section id="challenge" class="wrapper padding-30">
                <h2>We are featured on NASA Space Apps Challenge!</h2>
                <p>
                    The International Space Apps Challenge is an international mass collaboration focused on space exploration that takes place over 48-hours in cities around the world. The event embraces collaborative problem solving with a goal of producing relevant open-source solutions to address global needs applicable to both life on Earth and life in space.
                </p>
                <div class="button-challenge">
                    <a href="http://2014.spaceappschallenge.org/challenge/asteroid-imagery-sharing/">Support us</a>
                </div>
            </section>
        </div>
        <%= include footer.ejs %>
        
    </div>
</body>

</html>