extends layout

block content
  .results-bg
    section#login.padding-30
      .wrapper
        .float-left
          h2 Login
          .login-inner-p
            p
              | Welcome wannabe astronomer!
              | May the force be with you while you fill that login form.
            form#login-form
              p
                label(for='login-email') E-mail
                br
                input#login-email(type='email', name='login-email', placeholder='Your e-mail', required='', aria-required='true')
              p
                label(for='login-pwd') Password
                br
                input#login-pwd(type='password', name='login-pwd', placeholder='Your password', required='', aria-required='true')
                span.error-password
              input#login-submit(type='submit', name='login-submit', value='Submit')
              p
                a(href='#') Forgot password?
        .float-left
          h2 Or try
          .social-login
            a.facebook-login(href='#') Login with Facebook
            a.twitter-login(href='#') Login with Twitter
            // <a href="#" class="googleplus-login">Login with Google Plus</a>
          h2 Don&#39;t have an account?
          .button-challenge
            a(href='{{pathFor "register"}}') Register Now !
