<div id="nav-bar" role="banner">
    <div class="wrapper padding-30">
        <p id="logo-mini">
            <a href="/">
                Constelat
                <span>io</span>
            </a>
        </p>
        <!--{{> loginButtons}}-->
        <nav id="navigation" role="navigation">
            <ul>
                <% if (currentUser) { %>
                    <%= include menu/logout.ejs %>
                <% } else { %>
                    <%= include menu/login.ejs %>
                <% } %>
                <li class="menu-link">
                    <a href="explore">Browse</a>
                </li>
            </ul>
        </nav>
    </div>
</div>