extends layout

block content
  include searchBar
  .results-bg
    section#login.padding-30
      .wrapper
        
          h2 Privacy Policy
          .login-inner-p
            p
              This Privacy Policy (“Policy”) applies to information collected through Constelatio's web site (the “Site”). Please be sure to read this entire Privacy Policy before using, or submitting information, to this Site. If you do not agree to the terms of this Privacy Policy, then you should not use this Site.
            h3 Information we collect
            p When you visit our Site, we collect three types of information:
            ul
              li Personal information you knowingly choose to disclose to us such as your name, mailing address, and email address. You may provide this information when you perform actions on the Site such as applying for a job or requesting information from us.
              li Non-personal information including but not limited to browser type, IP address, operating system, the date and time of a visit, the pages visited on this Site, the time spent viewing the Site, and return visits to the Site. We may also collect aggregated information as you and others browse our Site.
            h3 Sharing information
            p We do not share any of the information we save from you to any party nor to anyone.
            h3 Links to third party sites
            p This Site may contain links to other sites operated by third parties. We have no control over the information you supply directly to these sites. We encourage you read the privacy statements of each and every web site that collects information from you. This Privacy Policy applies solely to information collected by this Site.
            h3 Children’s privacy
            p This Site is not intended for use by children under the age of 13. We do not knowingly collect personal information from children under the age of 13.
            h3 Changes in our privacy policy
            p From time to time, we may update this Privacy Policy. We encourage you to visit this area frequently to stay informed.