<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Constelatio - Open source asteroid imagery sharing platform</title>
    <meta name="description" content="Constelatio is the first open-source platform for sharing crowd-sourced asteroid imagery, including observations that have already have been logged, as well as newly observed Near Earth Objects.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="container">
        <header id="header">
        <%= include navbar.ejs %>
        </header>

    <div id="main" role="main">
        
        <div class="results-bg">
            <section id="login" class="padding-30">
                <div class="wrapper">
                    <div class="float-left">
                        <h2>Register</h2>
                        <div class="login-inner-p">
                            <p>
                                So, we heard you wanna join us?
                                Please begin by filling in this cool register form, young padawan.
                            </p>

                            <form id="register-form">
                                <p>
                                    <label for="register-username">Username</label><br>
                                    <input type="text" id="register-username" name="register-username" placeholder="Your username" required aria-required="true">
                                    <span class="error-username"></span>
                                </p>
                                <p>
                                    <label for="register-email">E-mail</label><br>
                                    <input type="email" id="register-email" name="register-email" placeholder="Your e-mail" required aria-required="true">
                                    <span class="error-email"></span>
                                </p>
                                <p>
                                    <label for="register-pwd">Password</label><br>
                                    <input type="password" id="register-pwd" name="register-pwd" placeholder="Your password" pattern="^[0_9a-zA-Z!@#$%]{8,}" required aria-required="true" title="Password must contain 8 chars. min. '!@#$%' special chars. allowed">
                                    <span class="error-pwd"></span>
                                </p>
                                <input type="submit" name="register-submit" id="register-submit" value="Apply">
                                
                            </form>
                        </div>
                    </div>
                    <div class="float-left">
                        <h2>Too long?</h2>
                        <div class="social-login">
                            <a href="#" class="facebook-login">Login with Facebook</a>
                            <a href="#" class="twitter-login">Login with Twitter</a>
                            <!--<a href="#" class="googleplus-login">Login with Google Plus</a>-->
                        </div>
                        <h2>Already have an account?</h2>
                        <div class="button-challenge">
                            <a href="/login">Login Now !</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        
    </div>




    
        <%= include footer.ejs %>
        
    </div>
</body>

</html>