
	<article class="item" role="article">
        <a href="{{pathFor 'resultPage'}}">
            <h2>{{name}}</h2>

            <img src="{{imagePath}}" alt="{{imageDesc}}">
        </a>
        <div class="item-desc">
            <p>
                Semimajor Axis : <span>{{semimajorAxis}}</span><br>
                Eccentricity : <span>{{eccentricity}}</span><br>
                Inclination : <span>{{inclination}}</span><br>
                Perihelion Arg. : <span>{{perihelionArg}}</span><br>
                Asc. Node : <span>{{ascendingNode}}</span><br>
                Mean Anom. : <span>{{meanAnomaly}}</span>
            </p>
        </div>
        <footer class="item-footer">
            <a href="#" class="comment">Comment</a>
            <a href="#" class="bookmark">Bookmark</a>
        </footer>                                
    </article>   
