
	<section id="search" class="padding-30">
                    <div class="wrapper">
                        <div id="search-bar">
                            <form>
                                <div class="simple-search">                         
                                    <div class="inner-bar">     
                                        <input type="text" name="search" placeholder="Enter asteroid name, number, designation...">
                                        <input type="submit" name="search" value="Go">
                                        <span>
                                            <a href="#" id="options" class="more-options">More Options</a>
                                        </span>
                                    </div>                                
                                </div>
                                <div class="advanced-search">
                                    <div class="filters">
                                        <div id="observation" class="float-left">
                                            <h4>Observation</h4>
                                            <ul class="checkbox-list">
                                                <li>
                                                    <label for="date">Date</label>
                                                    <input type="date" id="date" name="date">
                                                </li>
                                                <li>
                                                    <legend>Observatory</legend>
                                                    <select id="observatory" aria-label="observatory">
                                                        <option value="mauna-kea">Mauna Kea</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="float-left">
                                            <h4>Object Type</h4>
                                            <ul class="checkbox-list">
                                                <li>                      
                                                    <input type="checkbox" name="neo" id="neo" value="value">
                                                    <label for="neo">NEOs</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="1-km-neo" id="1-km-neo" value="value">
                                                    <label for="1-km-neo">1 + KM NEOs</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="hazardous" id="hazardous" value="value">
                                                    <label for="hazardous">Hazardous</label>
                                                </li>        
                                            </ul>
                                        </div>
                                        <div class="float-left">
                                            <h4>Orbit Type</h4>
                                            <ul class="checkbox-list">
                                                <li>
                                                    <input type="checkbox" name="inner-solar" id="inner-solar" class="category" value="value">
                                                    <label for="inner-solar">Inner Solar</label>

                                                    <ul class="checkbox-children">
                                                        <li>                      
                                                            <input type="checkbox" name="atiras" id="atiras" value="value">
                                                            <label for="atiras">Atiras</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="atens" id="atens" value="value">
                                                            <label for="atens">Atens</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="apollos" id="apollos" value="value">
                                                            <label for="Apollos">Apollos</label>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="near-mars" id="near-mars" class="category" value="value">
                                                    <label for="near-mars">Near Mars Objects</label>

                                                    <ul class="checkbox-children">
                                                        <li>
                                                            <input type="checkbox" name="hungarias" id="hungarias" value="value">
                                                            <label for="hungarias">Hungarias</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="mars-crossers" id="mars-crossers" value="value">
                                                            <label for="mars-crossers">Mars Crossers</label>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="outer-solar" id="outer-solar" class="category" value="value">
                                                    <label for="outer-solar">Outer Solar</label>

                                                    <ul class="checkbox-children">
                                                        <li>
                                                            <input type="checkbox" name="centaurus" id="centaurus" value="value">
                                                            <label for="centaurus">Centaurus</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="plutinos" id="plutinos" value="value">
                                                            <label for="plutinos">Plutinos</label>
                                                        </li>
                                                         <li>
                                                            <input type="checkbox" name="classical" id="classical" value="value">
                                                            <label for="classical">Classical TNOs</label>
                                                        </li>
                                                         <li>
                                                            <input type="checkbox" name="other" id="other" value="value">
                                                            <label for="other">Other TNOs</label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="properties" class="float-left">
                                            <h4>Properties</h4>
                                            <ul class="checkbox-list">
                                                <li>             
                                                    <label for="semimajor">Semimajor Axis</label>         
                                                    <input type="number" name="semimajor" id="semimajor" value="value">           
                                                </li>
                                                <li>
                                                    <label for="eccentricity">Eccentricity</label>         
                                                    <input type="number" name="eccentricity" id="eccentricity" value="value">  
                                                </li>
                                                <li>
                                                    <label for="inclination">Inclination</label>         
                                                    <input type="number" name="inclination" id="inclination" value="value">  
                                                </li>
                                                <li>
                                                    <label for="perihelion-arg">Perihelion Arg.</label>         
                                                    <input type="number" name="perihelion-arg" id="perihelion-arg" value="value">  
                                                </li>
                                                <li>
                                                    <label for="ascending-node">Asc. Node</label>         
                                                    <input type="number" name="ascending-node" id="ascending-node" value="value">  
                                                </li>              
                                                <li>
                                                    <label for="mean-anomaly">Mean Anomaly</label>         
                                                    <input type="number" name="mean-anomaly" id="mean-anomaly" value="value">  
                                                </li>
                                                <!--
                                                <li>
                                                    <label for="mean-daily-motion">Mean Daily Motion</label>        
                                                    <input type="number" name="mean-daily-motion" id="mean-daily-motion" value="value">  
                                                </li>        
                                                <li>
                                                    <label for="perihelion-dist">Perihelion Dist.</label>         
                                                    <input type="number" name="perihelion-dist" id="perihelion-dist" value="value">  
                                                </li>
                                                <li>
                                                    <label for="aphelion-dist">Aphelion Dist.</label>         
                                                    <input type="number" name="aphelion-dist" id="aphelion-dist" value="value">  
                                                </li>
                                                <li>
                                                    <label for="period">Period</label>         
                                                    <input type="number" name="period" id="period" value="value">  
                                                </li>
                                                <li>
                                                    <label for="abs-magnitude">Abs. Magnitude</label>         
                                                    <input type="number" name="abs-magnitude" id="abs-magnitude" value="value">  
                                                </li>
                                            -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                <div class="search-button">

                                </div>
                                -->
                            </form>
                        </div>
                    </div>
                </section>
                <!--
                {{invokeAfterLoad}}
            -->
