section#search.padding-30
  .wrapper
    #search-bar
      form
        .simple-search
          .inner-bar
            angucomplete(id='search', placeholder='Enter asteroid name, number, designation...', titlefield='prov_des,full_name', url='/asterank/api/autocomplete?query=', selectedObject='selectedAsteroid', datafield='results', name='search')
            input(type='submit', name='search', value='Go')
            //span
              a#options.more-options(href='#') More Options
        //include advancedSearch
