section#search.padding-30
  .wrapper
    #search-bar
      form
        .simple-search
          .inner-bar
            input(type='text', name='search', placeholder='Enter asteroid name, number, designation...')
            input(type='submit', name='search', value='Go')
            //span
              a#options.more-options(href='#') More Options
        //include advancedSearch
