@media only screen and (max-width: 449px){
	/*1 Col layout */
	#container{
		min-width: 350px;
	}
	#results .item{
		width: 95%;
		margin: 0 0 5% 0;
		padding: 1% 5% 5% 5%;
	}
	#results .item:nth-child(even){
    	margin-right: 0;
	}
	#footer .wrapper > .float-left, #footer .wrapper > .float-right{
		float: none;
		width: 100%;
	}
	#footer .wrapper > .float-right{
		padding-top: 30px;
		clear: both;
	}
}
@media only screen and (max-width: 470px){
	#logo-mini{
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	#nav-bar{
		position: relative;
	}
	#navigation{
		position: absolute;
		bottom: -46px;
		left: 0;
		width: 100%;
		height: 45px;
		float: none;
		margin: 0;
		text-align: center;
		background: #222;
	}
	#navigation ul{
		padding: 0;
	}
	#navigation ul li{
		width: 42%;
		float: none;
		text-align: center;
	}
	#main{
		padding-top: 60px;
	}
}
@media only screen and (min-width: 450px) and (max-width: 649px){
	/*2 Cols layout */
	#results .item{
		width: 45%;
		margin: 0 2% 2% 0;
		padding: 1% 2% 2% 2%;
	}
	#results .item:nth-child(even){
    	margin-right: 0;
	}
}

@media only screen and (max-width: 560px){
	#login .float-left{
		float: none;
		width: 100%;
	}
	#login .button-challenge a{
		margin: 0;
	}
	.start-buttons a:first-child{
		margin: 0 auto 20px auto;
	}
	.start-buttons a{
		display: block;
		margin: 0 auto;
	}
	#main-features article{
		width: 100%;
		float: none;
	}
	#profile .float-left{
		float: none;
		width: 100%;
	}
	#profile .float-left h3{
		margin-top: 30px;
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 790px){
	.inner-bar input[type="text"]{
		width: 90%;
	}
	#main section h2{
		font-size: 1.0em;
	}
	.item .item-desc p{
		font-size: 0.75em
	}
	.item .item-desc p span{
		font-size: 0.75em
	}
	.item .item-footer .comment, .item .item-footer .bookmark{
		font-size: 0.75em;
	}
}

@media only screen and (min-width: 650px) and (max-width: 1200px){
	/* 3 Cols layout */
	#results .item{
		width: 28%;
		margin: 0 2% 2% 0;
		padding: 1% 2% 2% 2%;
	}
	#results .item:nth-child(3n){
    	margin-right: 0;
	}
}
@media only screen and (min-width: 1200px){
	#search .wrapper{
		width: 1150px;
	}
	#footer .wrapper{
		width: 1150px;
	}
	#login .wrapper{
		width: 1150px;
	}
	#asteroid .wrapper{
		width: 1150px;
	}
}
@media only screen and (min-width: 1201px) and (max-width: 1600px){
	/* 4 Cols layout */
	#results .item{
		width: 19.5%;
		margin: 0 2% 2% 0;
		padding: 1% 2% 2% 2%;
	}
	#results .item:nth-child(4n){
    	margin-right: 0;
	}

}

@media only screen and (min-width: 1601px) and (max-width: 2000px){
	/* 5 Cols layout */
	#results .item{
		width: 17.2%;
		margin: 0 1% 1% 0;
		padding: 0.5% 1% 1% 1%;
	}
	#results .item:nth-child(5n){
    	margin-right: 0;
	}
}

@media only screen and (min-width: 2001px) and (max-width: 2400px){
	/* 10 Cols layout */
	#results .item{
		width: 8.525%;
		margin: 0 0.5% 0.5% 0;
		padding: 0.25% 0.5% 0.5% 0.5%;
	}
	#results .item:nth-child(10n){
    	margin-right: 0;
	}
}