<div id="intro" class="wrapper padding-30">
    <h1>
        The place where all astronomers share their celestial objects and observations
    </h1>
    <div class="opaque-container">
        <p>
            The first open-source platform for sharing crowd-sourced asteroid imagery! Including observations that have already have been logged, as well as newly observed Near Earth Objects.
        </p>

        <div class="start-buttons">
            <a href="{{pathFor 'login'}}" class="btn-get-started">Get started</a>
            <a href="{{pathFor 'explore'}}" class="btn-explore">Explore</a>
        </div>
        <div class="sponsors">
            <p class="float-left">Proudly supported by</p>
            <ul class="inline-menu float-left">
                <li>
                    <a href="http://www.nasa.gov/" title="NASA">
                        <img src="img/NASA-logo-small.png" alt="NASA Logo">
                    </a>
                </li>
                <li>
                    <a href="http://www.minorplanetcenter.net/" title="Minor Planet Center">
                        <img src="img/MPC-logo-small.png" alt="Minor Planet Center Logo">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>